<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="hotel-card col-lg-8">
      <div class="left col-lg-4 col-md-4 col-sm-12">
        <img src="../../assets/images/room1.jpg" alt="" />
      </div>
      <div class="middle col-lg-4 col-md-4 col-sm-12">
        <h5>Hotel Taj Palace</h5>
        <h6><em>Location</em></h6>
        <h6>Description</h6>
        <h6>5 star</h6>
      </div>
      <div class="right col-lg-4 col-md-4 col-sm-12">
        <h4>Rs 1200</h4>
        <p>All types of room available</p>
        <button>Select Room</button>
      </div>
    </div>
  </div>
</div>
