.box {
  background-color: rgb(255, 255, 255);
  max-width: 900px;
  border: 1px solid rgb(61, 0, 175, 0.2);
  border-radius: 2px;
  margin: auto;
  margin-top: 10px;
}
p {
  margin-left: 10px;
  color: rgb(0, 0, 99);
  font-weight: 600;
  font-size: 15px;
}
label {
  color: #c1c1c1;
  padding: 0 15px;
  font-size: 14px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

button {
  background-color: #ffee04;
  max-width: 300px;
  height: 40px;
  border-radius: 5px;
}

img {
  width: 80%;
  padding-top: 5px;
}
