<div class="container box">
  <div class="row">
    <div class="start col-lg-4 col-md-12 col-sm-12">
      <img src="../../assets/images/room1.jpg" alt="" />
    </div>
    <div class="left col-lg-4 col-md-12 col-sm-12">
      <div class="row">
        <label for="">Hotel Name</label>
        <p>Hotel Taj Palace</p>
      </div>
      <div class="row">
        <label for="">Room Number</label>
        <p>101</p>
      </div>
      <div class="row">
        <label for="">Room Type</label>
        <p>Delux</p>
      </div>
      <div class="row">
        <label for="">Rate per Day</label>
        <p>Rs 1000</p>
      </div>
    </div>
    <div class="right col-lg-4 col-md-12 col-sm-12">
      <button>Book Now</button>
    </div>
  </div>
</div>
