<div class="container box">
  <form>
    <h3>User Registration</h3>
    <div class="form-group">
      <label for="name">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
      />
    </div>
    <div class="form-group">
      <label for="mobileNo">Mobile No.</label>
      <input
        type="text"
        class="form-control"
        id="mobileNo"
        placeholder="Enter your mobile no."
      />
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <input
        type="text"
        class="form-control"
        id="qrolw"
        placeholder="Enter your role"
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter your email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter password"
      />
    </div>
    <button type="submit" class="btn">Register</button>
    <pre></pre>
    <div class="form-group" style="text-align: center">
      <label for="signup"
        >Already have an account? <a [routerLink]="['/login']">Login</a></label
      >
    </div>
  </form>
</div>

<pre></pre>
