<div class="container box">
  <form>
    <h3>Edit Hotel Details</h3>
    <div class="form-group">
      <label for="hotelid">Hotel Id</label>
      <input type="text" class="form-control" id="hotelid" disabled />
    </div>
    <div class="main">
      <div class="left">
        <div class="form-group">
          <label for="name">Hotel Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter your name"
          />
        </div>
        <div class="form-group">
          <label for="city">Hotel City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="Enter your city"
          />
        </div>
        <div class="form-group">
          <label for="address">Hotel Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="Enter your address"
          />
        </div>
        <div class="form-group">
          <label for="description">Hotel Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Description"
          />
        </div>
        <div class="form-group">
          <label for="rate">Avg rate per day</label>
          <input
            type="text"
            class="form-control"
            id="rate"
            placeholder="Enter avg rate per day"
          />
        </div>
      </div>
      <div class="right">
        <div class="form-group">
          <label for="mobileNo">Mobile No.</label>
          <input
            type="text"
            class="form-control"
            id="mobileNo"
            placeholder="Enter your mobile no."
          />
        </div>
        <div class="form-group">
          <label for="telephone">Telephone No.</label>
          <input
            type="text"
            class="form-control"
            id="telephone"
            placeholder="Enter your mobile no."
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter your email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
          />
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          <input
            type="text"
            class="form-control"
            id="website"
            placeholder="Enter your website"
          />
        </div>
      </div>
    </div>

    <button type="submit" class="btn">Submit</button>
    <pre></pre>
  </form>
</div>

<pre></pre>
