h3 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
a,
.btn {
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  color: rgb(48, 0, 104);
}
.box {
  width: 65%;
  margin: auto;
  margin-top: 5vh;
  height: auto;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.btn {
  width: 40%;
  height: 45px;
  background-color: rgb(228, 206, 8);
  color: rgb(83, 11, 124);
  margin-top: 20px;
  margin-left: 30%;
  align-self: center;
}

input {
  width: 350px;
  height: 45px;
}

.main {
  display: flex;
}

.left,
.right {
  width: 50%;
}
