<div class="outer-box">
  <!-- Sidebar -->
  <div class="outer-box-sidebar">
    <a class="s-sidebar-trigger" routerLink="#">
      <i class="fa fa-bars"> BookMySuite</i>
    </a>

    <nav class="s-sidebar-nav">
      <ul>
        <li>
          <a class="s-sidebar-nav-link" routerLink="#">
            <em>Overview</em>
          </a>
        </li>

        <li>
          <a class="s-sidebar-nav-link" routerLink="#">
            <em>All Rooms</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar-nav-link" routerLink="#">
            <em>Add Room</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar-nav-link" routerLink="#">
            <em>Payment</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar-nav-link" routerLink="#">
            <em>My Profile</em>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Content -->
  <main class="outer-box-content"></main>
</div>
