<!-- <div class="hotel-card">
  <div class="row">
    <div class="left col-lg-4">
      <img src="../../assets/images/background.png" alt="" />
    </div>
    <div class="right col-lg-8">
      <h3>Hotel Taj Palace</h3>
    </div>
  </div>
</div> -->

<!-- <div class="container box">
  <div class="row">
    <div class="left col-lg-4">
      <img src="../../assets/images/background.png" alt="" />
    </div>
    <div class="right col-lg-8">
      <h3>Hotel Taj Palace</h3>
      <p>Description</p>
      <p>Rs 1000</p>
    </div>
  </div>
</div> -->

<app-room-card></app-room-card>
<app-hotel-card></app-hotel-card>
<app-hotel-card></app-hotel-card>
<app-hotel-card></app-hotel-card>
