/* .left {
  height: 200px;
  background-color: aqua;
  text-align: center;
  padding: 10px;
}

.right {
  height: 200px;
  background-color: burlywood;
}

img {
  height: 90%;
} */

* {
  margin: 0;
  padding: 0;
}

.box {
  margin-top: 30px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  max-height: 500px;
}
